<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Git version <strong><%= globals.git %></strong></p>
    <p>App environment <strong><%= globals.env %></strong></p>
    <p>App directory <strong><%= globals.dir %></strong></p>
  </body>
</html>
